<div class="container">
   <h2 class="subtitle">Registro</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
          <form (ngSubmit)="crearUsuario()" #f="ngForm" >
              <div class="field">
                  <label class="label" for="username">Nombre de Usuario: </label>
                  <input
                  type="text"
                  id="username"
                  class="input"
                  ngModel
                  name="username">
                </div>
            <div class="field">
              <label class="label" for="ciudad">Ciudad de Residencia </label>
              <input
              type="text"
              id="ciudad"
              class="input"
              ngModel
              name="ciudad">
            </div>
            <div class="field">
              <label class="label" for="name">Nombres y Apellidos Reales del Usuario </label>
              <input
                type="text"
                id="name"
                class="input"
                ngModel
                name="name"
                required>
            </div>
            <div class="field">
              <label  class="label" for="email">Email</label>
              <input
                type="email"
                id="email"
                class="input"
                ngModel
                name="email"
                required>
            </div>
            <div class="field">
              <label class="label" for="password">Contraseña del Usuario</label>
              <input
                type="password"
                id="password"
                class="input"
                ngModel
                name="password"
                required>
            </div>
            
            <div class="field">
                    <label class="label" for="admin">Usuario administrativo?</label>
                    <input
                      type="checkbox"
                      id="admin"
                      ngModel
                      name="admin"
                      >
                  </div>
            <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!f.valid"
            >Cree su Usuario</button>
          </form>
        </div>
      </div>
       </div>
      