   <nav class="navbar is-multiline">
    <div class="navbar-brand">
      <h2 class="navbar-item"> Reservas </h2>
    </div>
    <div class="navbar-menu">
      <a class="navbar-item" routerLink="/restaurantes"> Restaurantes</a>
       <a class="navbar-item" routerLink="/bares"> Bares </a> 
    </div>
    <div class="navbar-end">
     <div class="navbar-item">
       <a> Cree una Cuenta </a>
      </div>
      <div class="navbar-item">
       <a> Inicie Sesion </a>
      </div>
    </div>
    </nav>
<router-outlet></router-outlet>
