   <nav class="navbar is-multiline is-dark">
    <div class="navbar-brand">
      <h2 class="navbar-item"> Reservas </h2>
    </div>
    <div class="navbar-menu">
      <a class="navbar-item" routerLink="/restaurantes"> Restaurantes</a>
       <a class="navbar-item" routerLink="/bares"> Bares </a> 
    </div>
    <div class="navbar-end">
     <div class="navbar-item" >
       <a routerLink="/registro" *ngIf="!log"> Cree una Cuenta </a>
      </div>
      <div class="navbar-item" *ngIf="!log">
       <a routerLink="/login"> Inicie Sesion </a>
      </div>
      <div class="navbar-item" *ngIf="log">
        <p>Ha ingresado como: <a routerLink="usuario/{{auService.id}}">{{auService.username}} </a> </p>
       </div>
       <div class="navbar-item" *ngIf="log">
        <p (click)="cerrar()"> Cierre Sesion </p>
       </div>
    </div>
    </nav>
<router-outlet></router-outlet>
